*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	text-decoration: none;
}


:root {
  --main-color: white;
  --other-color:black;
/*  --pane-padding: 5px 42px;*/
}

/****************************************************************GENERAL STYLES*********************************/

body{
	background:  url("images/LoginPageBackground.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size:100% 100%;
    overflow:auto;
	height: 100vh;
	color: var(--main-color);
	position: relative;
}

h3{
	display: inline;
	color: var(--other-color);
	font-size: 1rem;
	font-weight: 600;
	color: var(--other-color);
}
a{
	color: var(--other-color);
}
section{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: .5rem;
	background-color: rgba(255, 255, 255, 0.7);
	height: 1.7rem;

}
form{
	background-color: black;
	width: 18rem;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	margin: 0 auto;
	border-radius: 1rem;
	padding-bottom: 1rem;
	border: 5px solid grey;
}
.logo img{
	margin-top: 3rem ;
	width: 8rem;
	aspect-ratio: 1/1;
}
.img-logo{
	height: 2rem;
	width: 2rem;
	display: inline;
	background-color: ghostwhite;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: none;
}

.forms{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.user__input, .password__input{
	display: flex;
	margin-bottom: 1rem;
	height: 2rem;

}
.texts{
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: .7rem;
	margin-bottom: 1rem;
}
input{
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 5px;
}

input::placeholder{
	font-size: 1.3rem;
	color: grey;
}
#submit-btn{
	padding: 12px 3rem;
	background-color: green;
	color: var(--main-color);
	border-radius: 5px;
	margin: 5px auto 1.5rem;
	border: white solid 1px;
}
.forgot a{
	color: var(--main-color);
}
footer{
	display: flex;
	background: black ;
	box-shadow: -3px 0px 10px #000;
	margin-top: 5rem;
	font-size: .8rem;
	height: 2rem;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer a{
	color: var(--main-color);
}
.hat-img{
	position: absolute;
	width: 14rem;
	aspect-ratio: 1/1;
	z-index: 10;
	right: 3px;
	bottom: 2rem;
}

@media screen and (max-width:500px){

	h3{
		font-size: 1rem;
		display:block;
		
	}
	section{
		gap: 0;
		flex-direction: column;
		margin-bottom: 100px;
max-height: 100px;
	}
}